/* Style your widget here */
.vistaragorm-class {
    font-style: italic;
}

table.vis_evohome_zone-table  {
    border:solid black 1px;
    border-radius:6px;
/*    padding: 3px; */
}

.vis_evohome_zone-table th {
    text-align: center;
}

.vis_evohome_zone-table td {
    text-align: center;
}

.vis_evohome_zone-sp {
 font-size: 80%;
}

.vis_evohome_zone-mode {
 font-size: 80%;
}

.vis_evohome_zone-fault {
 font-size: 80%;
 color: red;
}