<!--
    ioBroker.vis vistaragorm Widget-Set

    version: "1.0.0"

    Copyright 2019 Taragorm taragorm@zoho.eu
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/evohome/css/style.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/evohome/js/sprintf.min.js"></script>
<script type="text/javascript" src="widgets/evohome/js/taracommon.js"></script>
<script type="text/javascript" src="widgets/evohome/js/evohome.js"></script>


<script id="tplEvohome_zone"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div class="vis-taragorm-class"> <table style="background: radial-gradient(#ff0000, #6060ff)"><tr><th>Lounge</th></tr><tr><td> 25.4C </td></tr><tr><td> 15.0C </td></tr></div>'
        data-vis-attrs="zone_oid/id,.zone;titleText/text;interpolate/checkbox;colours/text[$indoor];offSp/number"
        data-vis-attrs0="titleFormat/text;mvFormat/text;spFormat/text;modeFormat/text;footer/text;"
        data-vis-set="evohome"
        data-vis-type="val"
        data-vis-name="Zone">
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 62px; height: 72px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.evohome_zone.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>

<script id="tplEvohome_system"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<div class="vis-taragorm-class"> <table style="background: #00cc00"><tr><th>Home</th></tr><tr><td> 25.4C </td></tr><tr><td> 15.0C </td></tr></div>'
        data-vis-attrs="sys_oid/id,.status;titleText/text;"
        data-vis-set="evohome"
        data-vis-type="val"
        data-vis-name="System" >
    <div class="vis-widget <%== this.data.attr('class') %>" style="overflow:visible; width: 62px; height: 72px" id="<%= this.data.attr('wid') %>"><%
        vis.binds.evohome_system.createWidget(this.data.wid, this.view, this.data, this.style);
    %></div>
</script>



